<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :release %><br />
    <%= f.date_select :release %>
  </div>
  <div class="field">
    <%= f.label :desription %><br />
    <%= f.text_area :desription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
