<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  
  <div class="actions">
    <%= f.submit "Update User" %>
  </div>

<% end %>


<!-- <%= render 'form' %> -->

<%= link_to 'Show', @user %> 
<%= link_to 'Back', users_path %>
